﻿@model Manga_Chapters_Calculator.Models.Manga

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Manga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MangaFamily.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MangaFamily.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChapterCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChapterCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { partNo = Model.PartNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
