﻿@model IEnumerable<Manga_Chapters_Calculator.Models.Manga>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MangaFamily.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChapterCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MangaFamily.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChapterCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { partNo = item.PartNo }) |
            @Html.ActionLink("Details", "Details", new { partNo = item.PartNo }) |
            @Html.ActionLink("Delete", "Delete", new { partNo = item.PartNo })
        </td>
    </tr>
}

</table>
