﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Manga Chapters Calculator</h1>
    <br/>
    <p class="lead">Aplikacja służy do przeliczania "globalnego" rozdziału mangi z danej rodziny na rozdział "lokalny" dla danej jej części, oraz na odwrót (np. którym ogólnie rozdziałem Jojo jest 12 rozdział 4 części?).</p>
    <p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("lblFamily", "Wybierz rodzinę mang:")
                    <div class="col-md-10">
                        @Html.DropDownList("families", null, new { @style = "min-width: 300px;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("lblManga", "Wybierz mangę:")
                    <div class="col-md-12">
                        @Html.DropDownList("mangas", null, new { @style="min-width: 300px;" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.Label("lblChapterLocal", "Numer rozdziału lokalny:")
                        </div>
                        <div class="col-sm-6">
                            @Html.Label("lblChapterGlobal", "Numer rozdziału globalny:")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.TextBox("chapterLocal", null, new { @type = "number", @min = "1" })
                        </div>
                        <div class="col-sm-2">
                            <input type="button" value="<->" class="btn btn-default" onclick="modeSwitch()" />
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBox("chapterGlobal", null, new { @type = "number", @disabled = "true", @min = "1" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="button" value="Przelicz" class="btn btn-default btn-lg" onclick="calculate()" />
                </div>
            </div>
        }
     </p>
</div>

<script>
    function modeSwitch() {
        var inpChapterGlobal= document.getElementById('chapterGlobal');
        var inpChapterLocal = document.getElementById('chapterLocal');
        var inpSelectManga = document.getElementById('mangas');

        if (inpChapterGlobal.disabled) {
            inpChapterGlobal.disabled = false;
            inpChapterLocal.disabled = true;
            inpSelectManga.disabled = true;
        }
        else {
            inpChapterGlobal.disabled = true;
            inpChapterLocal.disabled = false;
            inpSelectManga.disabled = false;
        }
    }
</script>

<script>
    function calculate() {
        var inputControl, outputControl;
        var mangasListControl = document.getElementById('mangas');
        var familiesListControl = document.getElementById('families');

        if (document.getElementById('chapterLocal').disabled) {
            inputControl = document.getElementById('chapterGlobal');
            outputControl = document.getElementById('chapterLocal');

            $.ajax({
                type: "POST",
                dataType: 'json',
                cache: false,
                url: '@Url.Action("GetLocalChapter", "MangaFamilies")',
                data: {
                    chapterGlobal: inputControl.value,
                    familyId: familiesListControl.options[familiesListControl.selectedIndex].value
                },
                success: function (response) {
                    outputControl.value = response.resultChapter;
                    mangasListControl.value = response.mangaId;
                }
            });
        }
        else {
            inputControl = document.getElementById('chapterLocal');
            outputControl = document.getElementById('chapterGlobal');
            
            $.ajax({
                type: "POST",
                dataType: 'json',
                cache: false,
                url: '@Url.Action("GetGlobalChapter", "Mangas")',
                data: {
                    chapterLocal: inputControl.value, 
                    mangaId: mangasListControl.options[mangasListControl.selectedIndex].value 
                },
                success: function (response) {
                    outputControl.value = response.resultChapter;
                }
            });
        }
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#families').change(function () {
            var selectedFamily = $('#families').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Mangas", "Home")',
                data: { familyId: selectedFamily },
                success: function (response) {    
                    var mangasSelect = $('#mangas');
                    mangasSelect.empty();
                    $.each(response, function (i, manga) {
                        mangasSelect.append($('<option/>', {
                            value: manga.Id,
                            text: manga.Name
                        }));
                    });
                }
            })
        });
    });
</script>
